body {
  background: #181921;
}


.item {
  display: flex;
  flex-direction: row-reverse;
  background: #1d2021;
  color: #bac0c5;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.item>.item-content {
  width: 100%;
  padding-left: 1rem;
}
.item>img {
  padding: 0.5rem;
}


.item>.item-content>.item-name {
  color: #ececec;
}

.item>.item-content>.item-cost {
  color: #ffeb3a;
}

.item>.item-content>.item-attributes {
  color: #7ee67e;
  padding-bottom: 0.5rem;
}

.item>.item-content>.item-description {
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.item>.item-content>.item-notes {
  padding-bottom: 1rem;
}

